#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* форма с добавлением дела */
.add-todo {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.add-todo__textarea {
  width: 400px;

  padding: 10px;

  border-radius: 5px;
  resize: none;
}

.add-todo__textarea:focus {
  border: 1px solid #ffffffc9;
  outline: none;
}

.add-todo_button {
  width: 120px;
  height: 30px;

  cursor: pointer;
}

/* поиск дела и сортировка */
.sorting {
  margin-bottom: 30px;

  width: 840px;
  height: 40px;

  display: flex;
  justify-content: space-around;


}

.sorting__search {
  width: 300px;

  padding: 10px 7px;

  border: 1px solid #858585;
  border-radius: 5px;
}

.sorting__abc {
  display: flex;
  align-items: center;

  & :hover {
    color: #fff;
    cursor: pointer;
  }
}

/* список дел */
.todo-list {
  text-align: left;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 800px;

  padding: 15px;
  margin-bottom: 20px;

  border: 1px solid #ffffffde;
  border-radius: 7px;

}

.todo__title {
  max-width: 500px;
  word-break: break-word;
}

.todo__management {
  display: flex;
  gap: 10px;
}

.todo_completed {
  width: 100px;
  padding: 0 10px;

  border-radius: 5px;

  text-align: center;
  line-height: 60px;
  font-size: 14px;

  cursor: pointer;
  user-select: none;
}

/* статус дела */
.true {
  background-color: #02ff0f93;
}

.true:hover {
  background-color: #02ff0fc0;

}

.false {
  background-color: #ff02029d;
}

.false:hover {
  background-color: #ff02026b;
}

/* кнопки редактрования и удаления */
.todo__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & button {
    background-color: transparent;
    border: 1px solid #ffffffc9;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #ffffff71;
  }
}